# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xccheckout

!*.xib

Pods/*

*.lock
!Podfile.lock

build/
iOSInjectionProject/BundleContents.h
iOSInjectionProject/BundleContents.m
iOSInjectionProject/InjectionBundle-Info.plist
iOSInjectionProject/InjectionBundle-Prefix.pch
iOSInjectionProject/InjectionBundle.xcodeproj/project.pbxproj
iOSInjectionProject/InjectionBundle.xcodeproj/project.pbxproj.save
OSXInjectionProject/BundleContents.h
OSXInjectionProject/BundleContents.m
OSXInjectionProject/InjectionBundle-Info.plist
OSXInjectionProject/InjectionBundle-Prefix.pch
OSXInjectionProject/InjectionBundle.xcodeproj/project.pbxproj
OSXInjectionProject/InjectionBundle.xcodeproj/project.pbxproj.save
OSXInjectionProject/x86_64/compile_commands.sh
